@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  cursor: url("/cursor_blue.png"), auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Targets the scrollbar itself */
::-webkit-scrollbar {
  width: 12px;
  border-radius: 100%;
  /* cursor: auto; */
  /* height: 100%; */
}
.snap-align-start-10 {
  scroll-snap-align: start;
  /* margin-top: 10vh; 10% of the viewport height */
}

/* Targets the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgb(255 194 102 / 0.6);
  border-radius: 10px;
  cursor: grab;
  border: 0.1px solid rgb(238, 182, 79 / 0.5);
  /* box-shadow: 0 0 10px 1px rgb(154, 154, 154); */
}

/* Targets the buttons on the scrollbar (arrows pointing upwards and downwards) */
::-webkit-scrollbar-button {
  display: block;
  height: none; /* or 'none' to remove them */
  /* background-color: #d22727; */
}

@media (max-width: 770px) {
  ::-webkit-scrollbar {
    width: 1px;
    border-radius: 100%;
    /* cursor: auto; */
    /* height: 100%; */
  }
}
